/vitest/target
/scala/intro/target
/smartfox/intro/target
/reactive/intro/target
/glutest/server/target
robot/target/
.idea
symbiomark/pos/target
symbiomark/pos/log
kellyservices/target

oftest/.idea
oftest/*.iml
oftest/target
oftest/log

rtest/.idea
rtest/*.iml
rtest/target

taltest/.idea
taltest/*.iml
taltest/target
taltest/log
taltest/src/main/resources/static/vis